body {
    background-color: rgb(99, 97, 104);
    text-align: center;
}

h1 {
    color: black;
}

p {
    color: black;
    font-weight: bold;
}

button {
    align-content: center;
    border-radius: 5px;
    cursor: pointer;
}